#preloader{
	z-index: 10001;
	background-color: white;
	width: 100%;
	height: 100%;
	position: fixed;
}
#status {
	position: absolute;
	left: 50%; /* centers the loading animation horizontally one the screen */
	top: 50%; /* centers the loading animation vertically one screen */
	// background-image: url(image) /* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px, auto;
	-moz-background-size: 32px, auto;
	-webkit-background-size: 32px, auto;
	width: 200px;
	height: 200px;
	margin: -100px 0 0 -100px; /* is width and height divide by two */
	text-align: center;
	img{
		top: 50%;
		position: relative;
		margin-top: -50px;
	}
}