// RWD SIDEBAR HANDLE
.btn-rwd-sidebar{
	.btn-rwd-hide{}
}
.rwd-navigation{
	ul{}
}
.rwd-container{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.rwd-subcontainer{
	transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
	position: relative;
	width: 100%;
	display: block;
	margin-left: 0;
}
.rwd-active{
	margin-left: 40%;
	float: left;
}

.rwd-nav-sidebar{
	transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
	z-index: 999;
	width: 40%;
	margin-left: -40%;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	display: block;
	overflow-x: hidden;
	background-color: $bg-footer;

}
.rwd-nav-active{
	margin-left: 0;
}

.btn-nav{
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;

}
.rwd-navigation{
	display: none;
}
.rwd-top-navigation,
.rwd-navigation{
	font-family: $mont;
	font-size: 14px;
	text-transform: uppercase;
	ul{
		@extend %resetlist;
	}
	.lang{
		display: none !important;
	}
	li{
		display: block;
	}
	a{
		display: block;
		color: white;
		padding: 0 20px;
		margin-bottom: 15px;
		&:hover,
		&:focus{
			@include opacity(.6);
		}
	}
}
.rwd-navigation{
	margin-bottom: 30px;
	position: relative;
}

@media (max-width: 570px){
	.rwd-nav-sidebar{
		width: 60%;
		margin-left: -60%;
	}
	.rwd-nav-active{
		margin-left: 0;
	}
	.rwd-active{
		margin-left: 60%;
	}

}