/*  COLOR SOCIAL MEDIA
/* ---------------------------------------------------------------------------------- */
$facebook: #4d6baa; 
$twitter: #4fc6f8;
$google-plus: #ea6060;
$feeds: #ea9460;
$pinterest: #e22c2c;
$linkedin: #238cc8;
