/*  HANDLE CLASS FOR OWL-CAROUSEL
/* ---------------------------------------------------------------------------------- */
.owl-carousel{
	.owl-nav{
		position: absolute;
		top: 45%;
		width: 100%;
		left: 0;
		.owl-prev,
		.owl-next{
			z-index: 999;
			position: absolute;
			transition: all 350ms ease;
			display: block;
		}
	}
}