/*  TYPOGRAPHY's
/* ------------------------------------ */

/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
//font-family: 'Montserrat', sans-serif;
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	@font-face {
		font-family: $font-family;
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),url('#{$file-path}.woff') format('woff'),
				url('#{$file-path}.ttf') format('truetype'),
				url('#{$file-path}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}

	// Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-family;
			src: url('#{$file-path}.svg##{$font-family}') format('svg');
		}
	}
}


// INSTALLING FONTS

@include font-face(SourceSansProLight, '../fonts/SourceSansPro-Light', 300, normal);
@include font-face(SourceSansProRegular, '../fonts/SourceSansPro-Regular', 400, normal);
@include font-face(SourceSansProSemibold, '../fonts/SourceSansPro-Semibold', 500, normal);
@include font-face(SourceSansProBold, '../fonts/SourceSansPro-Bold', 600, normal);
// @mixin Brandon{
// 	font-family: "Brandon", sans-serif;
// 	font-weight: 400;
// 	font-style: normal;
// }
