/* COLORS
/* ----------------------------- */
@import "socmedcolor";
$green: #39b54a;
$blue: #0072bc;
$blue-two: #0054a6;
$blue-dark: #4e5a6b;
$white-dark: #f8f8f8;
$gray: #f6f8f7;
$red: #df1f26;
$border: #d7d7d7;
$bg-footer: #2f2f2f;
$border-footer: rgba(white, .15);
$border-header: #d1d4d9;

$text-light: #929292;

/* TYPOGRAPHY INSTALL
/* ----------------------------- */
@mixin proLight{
	font-family: "SourceSansProLight", sans-serif;
	font-weight: 300;
	font-style: normal;
}

@mixin proRegular{
	font-family: "SourceSansProRegular", sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin proSemibold{
	font-family: "SourceSansProSemibold", sans-serif;
	font-weight: 500;
	font-style: normal;
}
@mixin proBold{
	font-family: "SourceSansProBold", sans-serif;
	font-weight: 600;
	font-style: normal;
}

$mont: "Montserrat", sans-serif;

/* PARAMETRIC-MIXIN
/* ----------------------------- */
@mixin selection(){
	::selection{}
	::-moz-selection{}
}
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}
@mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}
@mixin circle( $size: 35px ){
	text-align: center;
	display: inline-block;
	line-height: $size;
	height: $size;
	width: $size;
	border-radius: 50%;
}
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-size: 11px;
		text-transform: uppercase;
	}
	:-moz-placeholder { /* Firefox 18- */
		font-size: 11px;
		text-transform: uppercase;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		font-size: 11px;
		text-transform: uppercase;
	}
	:-ms-input-placeholder {  
		font-size: 11px;
		text-transform: uppercase;
	}
}
@mixin bordradius( $value: 12px ){
	border-radius: $value;
}