/** SINGLE CARD ADD STYLE
===================================*/
button, .btn{
	&:focus {
		outline:0;
	}
}
.box-verify{
	width: 100%;
	max-width: 988px;
}

.banner-sub{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	min-height: 200px;
	text-align: center;
	color: white;
	background-color: #f4f3f3;
	position: relative;
	z-index: 100;
	
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#1a2f52, 0.6);
		z-index: -1;
	}

	h1{
		margin: 0;
		font-size: 35px;
		line-height: 1.2em;
		font-weight: 400;
		@media screen and (min-width: 48em){
			font-size: 45px;
		}
	}
}

.splash-text{
	text-align: center;
	margin-bottom: 60px;
	padding: 0 15px;	
	h2{
		margin: 0;
		color: black;
		font-weight: normal;
		font-size: 28px;
		margin-bottom: 10px;
		line-height: 1.4em;
		@media screen and (min-width: 48em){
			font-size: 36px;
		}
	}
}

.indicator-step{
	margin-bottom: 40px;
	padding: 0;
	ul{
		display: flex;
		list-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		li{
			
			flex: 1 1 auto;
			text-align: center;
			margin-right: 5px;
			position: relative;
			a{
				color: #a4a4a4;
				text-transform: uppercase;
				display: block;
				padding: 12px 20px;
				font-size: 12px;
				background-color: #e4e4e4;
				transition: all 0s;
				-moz-transition: all 0s;
				-webkit-transition: all 0s;
				@media screen and (min-width: 42em){
					padding: 9px 20px;
					font-size: 14px;
				}
			}

			&:before, &:after{
				content: '';
				position: absolute;
				left: 0;
				right: auto;
				top: 0;
				width: 0;
				height: 0;
				border-top: 21px solid transparent;
				border-left: 15px solid #e4e4e4;
				border-bottom: 22px solid transparent;
			}
			&:after{
				left: auto;
				right: -15px;
				z-index: 1;
			}
			&:before{
				border-left-color: #f5f5f5;
				z-index: 0;
			}

			&:first-child{
				&:before{
					display: none;
				}

				a{
					border-top-left-radius: 5px;
					-moz-border-top-left-radius: 5px;
					-webkit-border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					-moz-border-bottom-left-radius: 5px;
					-webkit-border-bottom-left-radius: 5px;
				}
			}
			&:last-child{
				margin-right: 0;
				&:after{
					display: none;
				}

				a{
					border-top-right-radius: 5px;
					-moz-border-top-right-radius: 5px;
					-webkit-border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					-moz-border-bottom-right-radius: 5px;
					-webkit-border-bottom-right-radius: 5px;
				}
			}

			&:hover, &.active{
				&:after{
					border-left-color: #3cb878;
				}
				a{
					background-color: #3cb878;
					color: white;
				}
			}
		}
	}
}

.head-form{
	background-color: #f0f0f0;
	padding: 24px 30px;
	position: relative;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 0.5px solid #dddddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    overflow: hidden;

    h4{
    	margin: 0;
    	padding-right: 65px;
    	font-weight: 400;
    	font-size: 20px;
    	@media screen and (min-width: 48em){
    		font-size: 24px;
    	}
    }
    .head-form-arr {
    	position: absolute;
    	top: 18px;
    	right: 27px;
    	font-size: 30px;
    	color: #9a9a9a;

    }
}


.btn-whiteBorder{
	background-color: white;
	border: 1px solid #39b54a;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color : #39b54a;

	&:hover{
		background-color: #39b54a;
		color: white;
	}
}
.content-wrapper{
	.btn-whiteBorder{
		margin-top: 30px;
		margin-bottom: 15px;
	}
}

.small-linkhere{
	display: block;
	margin-top: 30px;
	font-size: 16px;
	font-style: italic;

	a{
		color: #0054a6;
		text-decoration: underline;
	}
}

.box-verify .intro h1{
	line-height: 1.4em;
}

.id-blocked{
	text-align: left;
	margin-bottom: 40px;
	p{
		margin-bottom: 10px;
	}
	h4{
		margin: 0;
		font-weight: 600;
		font-size: 22px;
	}
}
.btn .fa{
	margin-left: 8px;
	vertical-align: middle;
}


.form-additional-verify{
	.item-repackager{
		width: auto;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;

		@media screen and (min-width: 38em){
			width: 44%;
		}
		@media screen and (min-width: 45em){
			width: 28%;
		}
		@media screen and (min-width: 62em){
			width: 21%;
		}

		figure{
			min-height: 145px;
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: auto;
			}
		}
	}
}

.box-verify .intro.text-set{
	margin-bottom: 30px;
	h1{
		font-size: 26px;
		@media screen and (min-width: 48px){
			font-size: 35px;
		}
	}
}

.f-togTarget{
	display: none;
}

#countryAlert{
	display: none;
}