<!-- RWD-NAV-SIDEBAR BEGIN -->
<div class="rwd-nav-sidebar">
    <span class="btn-rwd-hide">
        <i class="fa fa-close"></i>
    </span>

    <span class="btn btn-green btn-nav">Select a page ...</span>

    <div class="rwd-navigation">
        <ul></ul>
    </div>

    <div class="rwd-top-navigation">
        <ul></ul>
    </div>
</div>
<!-- RWD-NAV-SIDEBAR END -->