<!-- HEADER-SITE BEGIN -->
<header class="site-header">
    <div class="container">
        
        <div class="header-top clearfix">
            <div class="top-navigation">
                <ul>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">SHOPPING BLOG</a></li>
                    <li><a href="#">LOGIN</a></li>
                    <li class="lang">
                        <a href="#"><i class="fa fa-globe"></i> Spanish</a>
                        <ul>
                            <li>
                                <a href="#">Indonesia</a>
                            </li>
                            <li>
                                <a href="#">Jawa</a>
                            </li>
                            <li>
                                <a href="#">Sunda</a>
                            </li>
                            <li>
                                <a href="#">Batak</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- / .header-top -->

        <div class="header-main clearfix">
            <div class="logo-site">
                <a href="#">
                    <img src="imagemin/logo.png" alt="US unlocked">
                </a>
            </div><!-- / .logo-site -->

            <span class="btn-rwd-sidebar">
                <i class="fa fa-bars"></i>
            </span>

            <div class="main-navigation clearfix">
                
                <a href="#" class="btn btn-green btn-icon pull-right">
                    <span><i class="fa fa-arrow-circle-right"></i> get your card</span>
                </a>

                <ul class="pull-left">
                    <li><a href="#">How it Works</a></li>
                    <li><a href="#">Where to shop</a></li>
                    <li><a href="#">Countries Served</a></li>
                    <li><a href="#">pricing</a></li>
                </ul>

            </div><!-- / .main-navigation -->

        </div><!-- / .header-main -->

    </div>
</header>
<!-- HEADER-SITE END -->