<!-- ** ADD CSS FRAMEWORKS ** -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- REPLACE LOCAL bootstrap.css WITH THIS ONE TO MAKE MORE FASTER TO LOAD BASED CACHE BROWSER <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
<!--  -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- REPLACE LOCAL font-awesome.css WITH THIS ONE TO MAKE MORE FASTER TO LOAD BASED CACHE BROWSER <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link href="http://vjs.zencdn.net/5.5.3/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/bootstrap-select.min.css">
<link rel="stylesheet" href="css/jquery-ui.min.css">
<!-- ** ADD OWN STYLESHEETS ** -->
<link rel="stylesheet" href="css/app.css">