<!-- HEADER-SITE BEGIN -->
<header class="site-header">
    <div class="container">
        <div class="header-main clearfix">
            <div class="logo-site">
                <a href="#">
                    <img src="imagemin/logo.png" alt="US unlocked">
                </a>
            </div><!-- / .logo-site -->

            <span class="btn-rwd-sidebar">
                <i class="fa fa-bars"></i>
            </span>

            <div class="main-navigation clearfix">
            
                <ul class="pull-left">
                    <li><a href="#">How it Works</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div><!-- / .main-navigation -->

        </div><!-- / .header-main -->

    </div>
</header>
<!-- HEADER-SITE END -->