<!-- SITE-FOOTER BEGIN -->
<footer class="site-footer">
    <div class="container">
        <ul class="nav-links-footer">
            <li><a href="">Terms</a></li>
            <li><a href="">Fees</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">How It Works</a></li>
            <li><a href="">Support</a></li>
        </ul>
        <div class="foo-desc">
            <p>The US Unlocked Virtual Card is issued by Metropolitan Commercial Bank, member FDIC, pursuant to a license from Visa, USA Inc. "Metropolitan" and "Metropolitan Commercial Bank" are registered trademarks of Metropolitan Commercial Bank © 2014. Use of the Card is subject to the terms and conditions of the applicable Cardholder Agreement and fee schedule, if any.</p>
        </div>
    </div>
</footer>
<!-- SITE-FOOTER END -->