<script src="js/jquery.2.1.4.min.js" type="text/javascript"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script> -->
<script src="js/owl.carousel.js" type="text/javascript"></script>
<script src="js/wow.js" type="text/javascript"></script>
<script src="http://vjs.zencdn.net/5.5.3/video.js"></script>
<script src="js/bootstrap-select.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="js/jquery.ui.map.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script src="js/scripts.js" type="text/javascript"></script>
